<%= form_for(boarding_pass) do |f| %>
  <% if boarding_pass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(boarding_pass.errors.count, "error") %> prohibited this boarding_pass from being saved:</h2>

      <ul>
      <% boarding_pass.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :departure_airport_code %>
    <%= f.text_field :departure_airport_code %>
  </div>

  <div class="field">
    <%= f.label :arrival_airport_code %>
    <%= f.text_field :arrival_airport_code %>
  </div>

  <div class="field">
    <%= f.label :flight_number %>
    <%= f.text_field :flight_number %>
  </div>

  <div class="field">
    <%= f.label :departure_datetime %>
    <%= f.text_field :departure_datetime %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
